body {
  background: black;
  color: aqua;
}

main {
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside {
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
